.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 108px;
  right: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  height: calc(100vh - 125px);
  background: var(--background-color);
  overflow: auto;
  z-index: 1000;
  opacity: 0;
  transition: transform 0.2s ease, visibility 0.2s ease, opacity 0.2s ease;
  &Active {
    visibility: visible;
    opacity: 1;
    transform: translateY(10px);
  }
}
