@import "/src/styles/mixin";

.infoWrap {
  display: flex;
  align-items: center;
  gap: 32px;
}
.text {
  @include font14;
  color: var(--white-color);
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
