@import "/src/styles/mixin";

.nav {
  margin-bottom: 40px;
}

.category {
  @include font30;
  margin-bottom: 16px;
  color: var(--white-color);
}

.columns {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 92px;
}

.left {
  max-width: 838px;
}
