@import "/src/styles/mixin";

.img {
  margin-bottom: 32px;
  max-width: 60px;
}

.text {
  @include font20;
  color: var(--white-color);
}

.item {
  width: 246px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &:not(:last-child) {
    border-right: 1px solid var(--secondary-color);
  }
  @media only screen and (max-width: 1365px) {
    padding: 12px;
    width: 200px;
  }
  @media only screen and (max-width: 1365px) {
    padding: 10px;
    width: 150px;
    &:not(:last-child) {
      border-right: unset;
    }
    &:nth-child(n + 1) {
      border-bottom: 1px solid var(--secondary-color);
    }
    &:nth-child(1),
    &:nth-child(3) {
      border-right: 1px solid var(--secondary-color);
    }
  }
}
