@import "/src/styles/mixin";

.wrap {
  grid-area: 2 / 2 / 3 / 3;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  @include font14;
  color: var(--grey-color);
  &:not(:first-child) {
    padding-left: 8px;
    border-left: 1px solid var(--grey-color);
  }
}
