@import "/src/styles/mixin";

.wrap {
  margin-top: 16px;
  width: 455px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}
.header {
  margin-bottom: 24px;
}
.defaultCities {
  &List {
    column-count: 3;
    @media only screen and (max-width: 767px) {
      column-count: 1;
    }
  }
  &Button {
    @include font14;
    width: 100%;
    text-align: center;
  }
}
