@import "/src/styles/mixin";

.wrap {
  margin-bottom: 40px;
  @media only screen and (max-width: 1365px) {
    max-width: 400px;
  }
  @media only screen and (max-width: 1023px) {
    max-width: unset;
  }
}

.title {
  @include font20;
  margin-bottom: 32px;
  font-weight: 600;
  color: var(--white-color);
}

.text {
  @include font16;
  font-weight: 500;
  color: var(--white-color);
}
